<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <select id="findUsersList" parameterType="userQueryVo" resultType="userCustom">
        SELECT * from user
    </select>

    <select id="findUserById" parameterType="int" resultType="userCustom">
        SELECT * from user WHERE id = ${id}
    </select>
</mapper>